.mypage-container
  .mypage-left
    .left-wrapper
      = render 'shared/mypage_left'
      %ul.filter-list
        .filter-item
          = link_to "購入履歴", user_path(id: current_user.id)
        .filter-item
          = link_to "購入履歴(月額)", user_path(id: current_user.id)
        .filter-item
          = link_to "お気に入りリスト", user_path(id: current_user.id)
        .message-list
          %i.fa.fa-inbox メッセージ
        .filter-item
          = link_to "メッセージ一覧", user_messages_path(user_id: current_user.id)
        .filter-item.selected
          = link_to "新規メッセージ作成", new_user_message_path(user_id: current_user.id)
        .answer-list
          %i.fa.fa-question-circle ヘルプ・問い合わせ
        .filter-item
          = link_to "よくある質問リスト" , href: "#"
  .mypage-right
    .right-wrapper
      .message-tree-nav
        = link_to "メッセージ一覧へ戻る", new_user_message_path(user_id: current_user.id)
      .project-selection-header メッセージの送付先を選択してください
      %h3#send-contributor
        %i.fa.fa-chevron-circle-down 支援者にメッセージを送信する
      .select-contributor   どのプロジェクトの支援者に送るかを選択してください
      %h3#send-orner
        %i.fa.fa-chevron-circle-down 実行者にメッセージを送信する
      .select-orner   どのプロジェクトの実行者に送るかを選択してください
