%h3
  %span.fa-stack.fa-lg
    %i.fa.fa-circle.fa-stack-2x
    %i.fa.fa-tag.fa-stack-1x.fa-inverse
  %span#search-area 地域からさがす
%ul.nav-menu-lists
  %li.nav-menu-item.show-links
    = link_to "北海道", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "札幌", tag_path(Tag.find_by(name: "札幌").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "旭川", tag_path(Tag.find_by(name: "旭川").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "知床", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "東北", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "青森県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "岩手県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "宮城県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "秋田県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "山形県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "福島県", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "関東", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "茨城県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "栃木県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "群馬県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "埼玉県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "千葉県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "東京都", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "神奈川県", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "中部", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "新潟県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "富山県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "石川県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "福井県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "山梨県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "長野県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "岐阜県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "静岡県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "愛知県", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "近畿", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "三重県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "滋賀県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "京都府", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "大阪府", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "兵庫県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "奈良県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "和歌山県", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "中国", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "鳥取県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "島根県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "岡山県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "広島県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "山口県", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "四国", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "徳島県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "愛媛県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "香川県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "高知県", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "九州", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "福岡県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "佐賀県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "長崎県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "熊本県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "大分県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "宮崎県", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "鹿児島県", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "沖縄", href: "#"
    %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "海外", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "アジア", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "オセアニア", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "北米・中米", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "中近東", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "ヨーロッパ", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "南米", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "アフリカ", href: "#"
        %i.fa.fa-angle-right
