%h3
  %span.fa-stack.fa-lg
    %i.fa.fa-circle.fa-stack-2x
    %i.fa.fa-tag.fa-stack-1x.fa-inverse
  %span#search-area 地域からさがす
%ul.nav-menu-lists
  %li.nav-menu-item.show-links
    = link_to "北海道", tag_path(Tag.find_by(name: "北海道").id)
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "札幌", tag_path(Tag.find_by(name: "札幌").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "旭川", tag_path(Tag.find_by(name: "旭川").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "知床", tag_path(Tag.find_by(name: "知床").id)
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "東北", tag_path(Tag.find_by(name: "東北").id)
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "青森県", tag_path(Tag.find_by(name: "青森県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "岩手県", tag_path(Tag.find_by(name: "岩手県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "宮城県", tag_path(Tag.find_by(name: "宮城県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "秋田県", tag_path(Tag.find_by(name: "秋田県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "山形県", tag_path(Tag.find_by(name: "山形県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "福島県", tag_path(Tag.find_by(name: "福島県").id)
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "関東", tag_path(Tag.find_by(name: "関東").id)
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "茨城県", tag_path(Tag.find_by(name: "茨城県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "栃木県", tag_path(Tag.find_by(name: "栃木県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "群馬県", tag_path(Tag.find_by(name: "群馬県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "埼玉県", tag_path(Tag.find_by(name: "埼玉県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "千葉県", tag_path(Tag.find_by(name: "千葉県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "東京都", tag_path(Tag.find_by(name: "東京都").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "神奈川県", tag_path(Tag.find_by(name: "神奈川県").id)
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "中部", tag_path(Tag.find_by(name: "中部").id)
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "新潟県", tag_path(Tag.find_by(name: "新潟県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "富山県", tag_path(Tag.find_by(name: "富山県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "石川県", tag_path(Tag.find_by(name: "石川県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "福井県", tag_path(Tag.find_by(name: "福井県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "山梨県", tag_path(Tag.find_by(name: "山梨県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "長野県", tag_path(Tag.find_by(name: "長野県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "岐阜県", tag_path(Tag.find_by(name: "岐阜県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "静岡県", tag_path(Tag.find_by(name: "静岡県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "愛知県", tag_path(Tag.find_by(name: "愛知県").id)
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "近畿", tag_path(Tag.find_by(name: "近畿").id)
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "三重県", tag_path(Tag.find_by(name: "三重県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "滋賀県", tag_path(Tag.find_by(name: "滋賀県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "京都府", tag_path(Tag.find_by(name: "京都府").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "大阪府", tag_path(Tag.find_by(name: "大阪府").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "兵庫県", tag_path(Tag.find_by(name: "兵庫県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "奈良県", tag_path(Tag.find_by(name: "奈良県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "和歌山県", tag_path(Tag.find_by(name: "和歌山県").id)
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "中国", tag_path(Tag.find_by(name: "中国").id)
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "鳥取県", tag_path(Tag.find_by(name: "鳥取県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "島根県", tag_path(Tag.find_by(name: "島根県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "岡山県", tag_path(Tag.find_by(name: "岡山県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "広島県", tag_path(Tag.find_by(name: "広島県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "山口県", tag_path(Tag.find_by(name: "山口県").id)
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "四国", tag_path(Tag.find_by(name: "四国").id)
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "徳島県", tag_path(Tag.find_by(name: "徳島県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "愛媛県", tag_path(Tag.find_by(name: "愛媛県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "香川県", tag_path(Tag.find_by(name: "香川県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "高知県", tag_path(Tag.find_by(name: "高知県").id)
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "九州", tag_path(Tag.find_by(name: "九州").id)
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "福岡県", tag_path(Tag.find_by(name: "福岡県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "佐賀県", tag_path(Tag.find_by(name: "佐賀県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "長崎県", tag_path(Tag.find_by(name: "長崎県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "熊本県", tag_path(Tag.find_by(name: "熊本県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "大分県", tag_path(Tag.find_by(name: "大分県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "宮崎県", tag_path(Tag.find_by(name: "宮崎県").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "鹿児島県", tag_path(Tag.find_by(name: "鹿児島県").id)
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "沖縄", tag_path(Tag.find_by(name: "沖縄").id)
    %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "海外", tag_path(Tag.find_by(name: "海外").id)
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "アジア", tag_path(Tag.find_by(name: "アジア").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "オセアニア", tag_path(Tag.find_by(name: "オセアニア").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "北米・中米", tag_path(Tag.find_by(name: "北米・中米").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "中近東", tag_path(Tag.find_by(name: "中近東").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "ヨーロッパ", tag_path(Tag.find_by(name: "ヨーロッパ").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "南米", tag_path(Tag.find_by(name: "南米").id)
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "アフリカ", tag_path(Tag.find_by(name: "アフリカ").id)
        %i.fa.fa-angle-right
