%h3
  %span.fa-stack.fa-lg
    %i.fa.fa-circle.fa-stack-2x
    %i.fa.fa-tag.fa-stack-1x.fa-inverse
  %span#search-category カテゴリからさがす
%ul.nav-menu-lists
  %li.nav-menu-item.show-links
    = link_to "社会にいいこと", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "子ども・教育", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "国際協力", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "医療・福祉", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "環境保護", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "人権", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "マイノリティ", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "動物", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "発展途上国", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "地域", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "地域文化", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "観光", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "まちづくり", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "災害", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "フード", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "特産品", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "カフェ・ゲストハウス", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "地震", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "台風", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "歴史", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "ものづくり", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "ガジェット", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "テクノロジ", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "web・アプリ", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "IoT", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "アート", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "音楽", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "本・漫画・写真", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "伝統文化", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "絵画・イラスト", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "映画・映像", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "ファッション", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "舞台・パフォーマンス", href: "#"
        %i.fa.fa-angle-right
  %li.nav-menu-item.show-links
    = link_to "チャレンジ", href: "#"
    %i.fa.fa-angle-right
    %ul.subdivision-links
      %li.nav-menu-item
        = link_to "スポーツ", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "起業・スタートアップ", href: "#"
        %i.fa.fa-angle-right
      %li.nav-menu-item
        = link_to "旅", href: "#"
        %i.fa.fa-angle-right
