.mypage-container
  .mypage-left
    .left-wrapper
      = render 'shared/mypage_left'
      %ul.filter-list
        .filter-item.selected
          = link_to "購入履歴" ,user_path(id: current_user.id)
        .filter-item
          = link_to "購入履歴(月額)" ,user_path(id: current_user.id)
        .filter-item
          = link_to "お気に入りリスト" ,user_path(id: 1)
        .message-list
          %i.fa.fa-inbox メッセージ
        .filter-item
          = link_to "メッセージ一覧" ,user_messages_path(user_id: current_user.id)
        .filter-item
          = link_to "新規メッセージ作成" ,
            new_user_message_path(user_id: current_user.id)
        .answer-list
          %i.fa.fa-question-circle ヘルプ・問い合わせ
        .filter-item
          = link_to "よくある質問リスト" , href: "#"
  .mypage-right
    .right-wrapper
      %h2 購入履歴
      .return-list 表示できる履歴がありません
      %button.return-more もっと見る
