.mypage-top
  .mypage-image
    = image_tag("#{current_user.avatar}")
  .mypage-profile
    .mypage-name
      = current_user.nickname
    .mypage-edit
      = link_to "プロフィール編集", edit_user_path(id: current_user.id)
    .mypage-edit
      = link_to "トップページへ", root_path(id: 1)
