.nav-project
  %h3
    %span.fa-stack.fa-lg
      %i.fa.fa-circle.fa-stack-2x
      %i.fa.fa-search.fa-stack-1x.fa-inverse
    %span#search-project プロジェクトをさがす
  %ul.nav-menu-lists
    %li.nav-menu-item
      = link_to  "注目のプロジェクト", projects_path(sort: 'notable')
      %i.fa.fa-angle-right
    %li.nav-menu-item
      = link_to "支援金額の多いプロジェクト", projects_path(sort: 'total_support')
      %i.fa.fa-angle-right
    %li.nav-menu-item
      = link_to "あとひと押しのプロジェクト", projects_path(sort: 'one_more_push')
      %i.fa.fa-angle-right
    %li.nav-menu-item
      = link_to "新着プロジェクト", projects_path(sort: 'new')
      %i.fa.fa-angle-right
    %li.nav-menu-item
      = link_to "成立済みのプロジェクト", projects_path(sort: 'sccessful')
      %i.fa.fa-angle-right
    %li.nav-menu-item
      = link_to "最近見たプロジェクト", projects_path(sort: 'viewed')
      %i.fa.fa-angle-right
    %li.nav-menu-item
      = link_to "もうすぐ終了のプロジェクト", projects_path(sort: 'end_soon')
      %i.fa.fa-angle-right
    -# %li.nav-menu-item
      -# = link_to "コミュニティ型プロジェクト", projects_path(sort: 'community')
      -# %i.fa.fa-angle-right
.nav-category
  = render 'projects/sidebar/category'
.nav-area
  = render 'projects/sidebar/area'
