.new-project
  = form_for @project do |f|
    .col-sm-3
      .tab-lists
        %h1 ページの編集
        %ul.tabs
          %li.select
            基本情報
          %li
            概要
          %li
            リターン
      .project-save
        = f.submit "更新", method: :patch
    .col-sm-9
      .tab-content
        %h1 基本情報
        .tab-content__form-group
          %label タイトル
          .project-title
            = f.text_field :title, required: true, autofocus: true,
              placeholder: "タイトルを入力してください。(30文字以内)", maxlength: 30
          %hr
          %label 画像
          #project-image
            = f.file_field :projectimage, required: true
          %hr
          %label 募集期間
          .project-period
            = f.date_select :limit_date, default: Time.current,
            use_month_numbers: true
          %hr
          %label 目標金額(第一)
          .project-target-amount
            = f.number_field :goal, required: true
            %span 円
          %hr
          %label 目標金額(第二)
          .project-target-amount-next
            = f.number_field :next_goal
            %span 円
          .project-tags
            %label タグ
            .tags
              = f.collection_check_boxes :tag_ids, @tags, :id, :name do |tag|
                .tag--checkbox
                  = tag.label { tag.check_box + tag.text }
      .tab-content.hide
        .tab-content__form-group
          %hr
          %label プロジェクト概要(仮エディター)
          .project-overview
            = f.text_area :content, required: true
      .tab-content.hide
        .tab-content__form-group
          %h1 あとで実装
  .blank-content
