.new-project
  = form_for @project do |f|
    .col-sm-3
      .tab-lists
        %h1 ページの編集
        %ul.tabs
          %li.select
            基本情報
          %li
            概要
          %li
            リターン
      .project-save
        = f.submit "更新", method: :patch
    .col-sm-9
      .tab-content
        %h1 基本情報
        .tab-content__form-group
          %label タイトル
          .project-title
            = f.text_field :title, required: true, autofocus: true,
              placeholder: "タイトルを入力してください。(30文字以内)", maxlength: 30
          %hr
          %label 画像
          .project-image
            = f.file_field :projectimage, id: "project-image"
          #project-img-default
            = image_tag "#{f.object.projectimage}"
          #project-img-show
          %hr
          %label 募集期間
          .project-period
            = f.date_select :limit_date, default: Time.current,
            use_month_numbers: true
          %hr
          %label 目標金額(第一)
          .project-target-amount
            = f.number_field :goal, required: true, maxlength: 9,
             class: 'price-input', min: 10000, step: 1000
            %span 円
          %hr
          %label 目標金額(第二)
          .project-target-amount-next
            = f.number_field :next_goal, maxlength: 9,
             class: 'price-input', min: 10000, step: 1000
            %span 円
          .project-tags
            %label カテゴリー
            .tags
              - @categories.each do |category|
                %label.tag--checkbox
                  = f.radio_button :category_id, category.id
                  = category.name
          .project-tags
            %label タグ
            .tags
              = f.collection_check_boxes :tag_ids, @tags, :id, :name do |tag|
                .tag--checkbox
                  = tag.label { tag.check_box + tag.text }
      .tab-content.hide
        %h1 概要
        .tab-content__form-group
          .project-overview
            = f.cktext_area :content, ckeditor: { toolbar: 'mini' }
      .tab-content.hide
        .tab-content__form-group
          %h1 リターン
        = f.fields_for :returns do |r|
          .return-create
            %h2 リターンの編集
            - if @returns.length != 1
              %button.return-delete-button
                = link_to  "削除" ,
                  project_return_path(project_id: params[:id], id: r.object.id),
                    method: :delete
            .return-create__title.box-size
              .content タイトル
              .content-form
                = r.text_field :title, required: true, autofocus: true,
                  placeholder: "タイトルを入力してください。(30文字以内)", maxlength: 30
            .return-create__price.box-size
              .content
                %span 価格
                %i.fa.fa-jpy
              .content-form
                = r.number_field :price, required: true,
                min: 1000, step: 1000, maxlength: 9,
                class: 'price-input'
            .return-create__content.clearfix
              .content 説明
              .content-form
                = r.text_area :content, required: true, autofocus: true,
                  placeholder: "説明文を入力してください。(150文字以内)", maxlength: 150
            .return-create__stock.box-size
              .content 在庫数
              .content-form
                = r.number_field :stock, required: true, min: 1, maxlength: 9,
                   class: 'price-input'
            .return-create__arrival.box-size
              .content 発送予定日
              .content-form
                = r.date_select :arrival_date, dafault: Time.current,
                  use_month_numbers: true, discard_day: true
            .return-create__image-show.clearfix
              .content 画像
              .content-form
                = r.file_field :returnimage, id: "create-return-image"
                #return-image-show
                  = image_tag "#{r.object.returnimage}"
        .return-new-link
          - if @project.returns.length <= 3
            .btn.btn-primary.return-add-button
              = link_to "リターンを追加",
                new_project_return_path(project_id: params[:id])
  .blank-content
