.new-project
  = form_for @project do |f|
    .col-sm-3
      .tab-lists
        %h1 ページの編集
        %ul.tabs
          %li.select
            基本情報
          %li
            概要
          %li
            リターン
      .project-save
        = f.submit "登録"
    .col-sm-9
      .tab-content
        %h1 基本情報
        .tab-content__form-group
          %label タイトル
          .project-title
            = f.text_field :title, required: true, autofocus: true,
              placeholder: "タイトルを入力してください。(30文字以内)", maxlength: 30
          %hr
          %label 画像
          #project-image
            = f.file_field :projectimage, required: true
            %img{ id: 'project-img-show' }
          %hr
          %label 募集期間
          .project-period
            = f.date_select :limit_date, default: Time.current,
            use_month_numbers: true
          %hr
          %label 目標金額(第一)
          .project-target-amount
            = f.number_field :goal, required: true, maxlength: 9,
             class: 'price-input'
            %span 円
          %hr
          %label 目標金額(第二)
          .project-target-amount-next
            = f.number_field :next_goal, maxlength: 9,
             class: 'price-input'
            %span 円
          %hr
          %label タイプ
          .project-type
            %label
              = f.radio_button :project_type, :purchase, checked: true
              購入型
            %label
              = f.radio_button :project_type, :contribution
              寄附型
          %hr
          .project-tags
            %label タグ
            .tags
              = f.collection_check_boxes :tag_ids, @tags, :id, :name do |tag|
                .tag--checkbox
                  = tag.label { tag.check_box + tag.text }
      .tab-content.hide
        .tab-content__form-group
          %hr
          %label プロジェクト概要(仮エディター)
          .project-overview
            = f.text_area :content, required: true
      .tab-content.hide
        .tab-content__form-group
          %h1 リターン
        .return-create
          = f.fields_for :returns do |r|
            %h2 リターンの新規登録
            .return-create__title.box-size
              .content タイトル
              .content-form
                = r.text_field :title, required: true, autofocus: true,
                  placeholder: "タイトルを入力してください。"
            .return-create__price.box-size
              .content
                %span 価格
                %i.fa.fa-jpy
              .content-form
                = r.number_field :price, required: true
            .return-create__content.clearfix
              .content 説明
              .content-form
                = r.text_area :content, required: true, autofocus: true,
                  placeholder: "説明文を入力してください。"
            .return-create__stock.box-size
              .content 在庫数
              .content-form
                = r.number_field :stock, required: true,
                  placeholder: "在庫数に制限がない場合は０としてください"
            .return-create__arrival.box-size
              .content 発送予定日
              .content-form
                = r.date_select :arrival_date, dafault: Time.current,
                  use_month_numbers: true, discard_day: true
            .return-create__image-show.clearfix
              .content 画像
              .content-form
                = r.file_field :returnimage, id: "create-return-image",
                  required: true
                #return-image-show
                  %img{ src:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvOUSpHlYa1jpsFW2BZB9_T5X68Q-YwCA4GtihyEUOW7AiAqru" ,alt: "画像がありません" ,id: "return-image-default" }
  .blank-content
