.project-contents
  .top-content
    = link_to project_path(params[:id]), method: :delete do
      %span.btn.btn-primary プロジェクト削除(検証用)
    .top-content__category
      = link_to root_path do
        クラウドファンディングトップ
      %span >
      = link_to root_path do
        地域
      %span >
      = @project.title
    .top-content__title
      %h1
        = @project.title
    .top-content__tag
      = link_to root_path, class: "btn btn-light" do
        東京
      = link_to root_path, class: "btn btn-light" do
        カテゴリー1
      = link_to root_path, class: "btn btn-light" do
        カテゴリー2
    .overview
      .overview__image
      .project-info
        .user-profile
          .user-profile__icon
          .user-profile__name
            %p エキスパートさん
        .project-info__big-text
          %span.span-project.span-project__title-big 支援総額
          %span.span-project.span-project__data-big 1,000,000円
        - if @project.next_goal.nil?
          .project-info__text
            %span.span-project.span-project__title 目標金額
            %span.span-project.span-project__data
              = number_with_delimiter(@project.goal)
              %span 円
        - else
          .project-info__text
            %span.span-project.span-project__title 目標金額
            %span.span-project.span-project__data
              = number_with_delimiter(@project.next_goal)
              %span 円
          .project-info__text
            %span.span-project.span-project__title 第一目標金額
            %span.span-project.span-project__data
              = number_with_delimiter(@project.goal)
              %span 円
        .project-info__text
          %span.span-project.span-project__title 支援者数
          %span.span-project.span-project__data 90人
        .project-info__text
          %span.span-project.span-project__title 残り日数
          %span.span-project.span-project__data
            = @project.limit_date_to_month_day
        .project-info__progress
          .progress
            .progress-bar.progress-bar-danger.progress-level-of-achievement
              %p 80%
        = link_to root_path,class: 'btn-link' do
          .btn-link__button.btn.btn-danger
            %p このプロジェクトを支援する
    .top-content__info-footer
      = link_to root_path do
        %span.btn.btn-primary いいね
      = link_to root_path do
        %span.btn.btn-primary シェア
      = link_to root_path do
        %span.btn.btn-primary ツイートする
      = link_to root_path do
        %span.btn.btn-primary ブックマーク
      %p このプロジェクトはAll or nothing形式です。7月31日（火）午後11:00までに、2,450,000円以上集まった場合に成立となります。
  .bottom-content
    .bottom-content__tab-btm
      .project-tabs.select
        %p プロジェクト概要
      .project-tabs
        %p 新着情報
      .project-tabs
        %p 応援コメント
    .bottom-content__tab-content
      .tab-content
        %p プロジェクト概要
        = @project.content
      .tab-content.hide
        %p 新着情報
      .tab-content.hide
        %p 応援コメント
    .return-content
      .return-content__link-btm
        %p.like-count-text 7人がお気に入りしています
        = link_to root_path, class: "btn btn-light like-count-btm" do
          お気に入りに追加する
        %p お気に入りリストに追加され、新着情報を受け取れます
      .return-content__returns
        %p 各リターンの部分テンプレート
    .clear
    .show-projects
      .clear
      .project-lists
        %p あなたにオススメのプロジェクト
        .project-lists__list
        .project-lists__list
        .project-lists__list
      .clear
      .project-lists
        %p 注目のプロジェクト
        .project-lists__list
        .project-lists__list
        .project-lists__list
      .clear
      .project-lists
        %p 新着プロジェクト
        .project-lists__list
        .project-lists__list
        .project-lists__list
