.project-contents
  .top-content
    .top-content__category
      = link_to root_path do
        クラウドファンディングトップ
      %span >
      = @project.title
    .top-content__title
      %h1
        = @project.title
    .top-content__tag
      = render partial: 'layouts/tags', locals: { tags: @tags }
    .overview
      .overview__image
        - if (@project.projectimage).present?
          = image_tag "#{@project.projectimage}", id: "project-image"
        - else
          = image_tag "https://readyfor.jp/assets/noimage/noimage2-4a1d65fcb2283f403840eabc8f398100042714714fdce21f021c615fd66396f4.jpg", id: "project-image"
      .project-info
        .user-profile
          .user-profile__icon
            = image_tag "#{@project.user.avatar}", id: "mypage-avatar"
          .user-profile__name
            %p= @project.user.nickname
        .project-info__big-text
          %span.span-project.span-project__title-big 支援総額
          %span.span-project.span-project__data-big
            = number_with_delimiter(@project.total_support)
            円
        - if @project.next_goal.nil?
          .project-info__text
            %span.span-project.span-project__title 目標金額
            %span.span-project.span-project__data
              = number_with_delimiter(@project.goal)
              %span 円
        - else
          .project-info__text
            %span.span-project.span-project__title 目標金額
            %span.span-project.span-project__data
              = number_with_delimiter(@project.next_goal)
              %span 円
          .project-info__text
            %span.span-project.span-project__title 第一目標金額
            %span.span-project.span-project__data
              = number_with_delimiter(@project.goal)
              %span 円
        .project-info__text
          %span.span-project.span-project__title 支援者数
          %span.span-project.span-project__data
            = number_with_delimiter(@total_user_max)
            人
        .project-info__text
          %span.span-project.span-project__title 残り日数
          %span.span-project.span-project__data
            - if @project.remaining_time[:day] != 0
              #{ @project.remaining_time[:day] } 日
            - else
              #{ @project.remaining_time[:hour] } 時間
              #{ @project.remaining_time[:min] } 分
              #{ @project.remaining_time[:sec] } 秒
        .project-info__type
          .project-type-badge.normal
            = @project.project_type_i18n
        .project-info__progress
          .progress
            .progress-bar.progress-bar-danger.progress-level-of-achievement{ style: "width: #{ @project.achievement_rate }%;" }
              %p= "#{ @project.achievement_rate } %"
        = link_to payment_path(params[:id], 'payment/choice',
               "#{@returns.first.id}", ''), class: 'btn-link' do
          .btn-link__button.btn.btn-danger
            %p このプロジェクトを支援する
    .top-content__info-footer
      - if current_user&.project_owner?(@project)
        = link_to edit_project_path(id: params[:id]) do
          %span.btn.btn-primary プロジェクトを編集する
        = link_to project_path, method: :delete ,
          data: { confirm: "削除してよろしいですか？" } do
          %span.btn.btn-primary.delete-btn プロジェクトを削除する
  .bottom-content
    .bottom-content__tab-btm
      .project-tabs.select
        %p プロジェクト概要
    .bottom-content__tab-content
      .tab-content
        %p プロジェクト概要
        = @project.content
    .return-content
      .return-content__link-btm
        #like-content
          = render partial: 'likes/like', locals:{ project: @project, like: @like }
        %p お気に入りリストに追加され、新着情報を受け取れます
      = render partial: 'shared/return-list', locals: { returns: @returns }
      - if current_user&.project_owner?(@project) && @project.has_max_return?
        = link_to new_project_return_path(project_id: params[:id]) do
          %span.btn.btn-primary リターンを追加する
