%h1 Toppage#index
%p Find me in app/views/toppage/index.html.erb
= link_to('sign_up', new_user_registration_path,
           class: 'btn btn-default')
= link_to('sign_in', new_user_session_path,
           class: 'btn btn-default')
= link_to('sign_out', destroy_user_session_path,
           class: 'btn btn-default',
           method: :delete)
= link_to('project_show', project_path(1),
           class: 'btn btn-default')
= link_to('project_new', new_project,
           class: 'btn btn-default')
