-# debug aria =========================================================
- unless user_signed_in?
  %button
    = link_to "ログイン画面/サインアップ画面へ", new_user_registration_path
- if user_signed_in?
  %button
    = link_to "ユーザー画面へ",user_path(id: current_user.id)
  %button
    = link_to "ログアウト", destroy_user_session_path, method: :delete

= link_to project_path(1), class: "btn btn-default" do
  project_show
= link_to new_project_path, class: "btn btn-default" do
  project_new
= link_to edit_project_path(1), class: "btn btn-default" do
  project_edit
-# ====================================================================

- partial_root = 'toppage/partial/'

.Site-container
  .PcTopContainer__root__145zb

    .PcTopContainer__navbar__3erDz
      = render "#{ partial_root }/PcTopCategoryNavBar"

    #PcTopContentArea
      .PcTopVisual__visual__2BHQD
        = render "#{ partial_root }/PcTopVisual"

      .PcTopProjectArea__main__1hv8i
        / バナーエリア
        .slick-slider.PcTopCategoryProjectArea__static-banner__2BBlL
          = link_to "#" do
            = image_tag 'https://readyfor.jp/s3/readyfor-img/banner_images/66/normal_2x/3f0c759fd25f9adfaa9a649a597f045b596073af.jpg?1502156505', height: '60px',
                                                          width:  '310px'
          = link_to "#" do
            = image_tag 'https://readyfor.jp/s3/readyfor-img/banner_images/86/normal_2x/e19e60de10a2352ba5ac4c7cd0d1a27943704085.png?1517281300', height: '60px',
                                                          width:  '310px'
          = link_to "#" do
            = image_tag 'https://readyfor.jp/s3/readyfor-img/banner_images/99/normal_2x/d1544b4523f3ec98f3ee64b4a78124ee12e71c70.jpg?1526640272', height: '60px',
                                                          width:  '310px'
          = link_to "#" do
            = image_tag 'https://readyfor.jp/s3/readyfor-img/banner_images/93/normal_2x/c8238493e86fb2ed2c66c4c9f53c2e0afe5d8b68.jpg?1521775743', height: '60px',
                                                          width:  '310px'
          = link_to "#" do
            = image_tag 'https://readyfor.jp/s3/readyfor-img/banner_images/103/normal_2x/6b17797202924dae00cafee3bf5fe7f115fe3591.png?1531112262', height: '60px',
                                                          width:  '310px'
          = link_to "#" do
            = image_tag 'https://readyfor.jp/s3/readyfor-img/banner_images/102/normal_2x/7de33522bd3477f0144450399956120e2bec9f9f.png?1529464197', height: '60px',
                                                          width:  '310px'
          = link_to "#" do
            = image_tag 'https://readyfor.jp/s3/readyfor-img/banner_images/100/normal_2x/26405008a2e5f1a522e9426f4259913b6acfb7d8.jpg?1527133921', height: '60px',
                                                          width:  '310px'

        / プロジェクトエリア
        .Top-Entry__container
          .Grid
            -# 最近見たプロジェクト
            %section.Grid__col3.notable
              = render partial: 'toppage/partial/PcTopProjectList-s',
                       locals:  { title: "最近見たプロジェクト",
                                  projects: @recent_viewed_projects,
                                  max_display_projects: 1,
                                  is_dummy: false }

            -# あとひと押し
            %section.Grid__col3.almost
              = render partial: 'toppage/partial/PcTopProjectList-s',
                       locals:  { title: "あとひと押し",
                                  projects: @projects,
                                  is_dummy: true }

            -# 新着のプロジェクト
            %section.Grid__col3.new_arrival
              = render partial: 'toppage/partial/PcTopProjectList-s',
                       locals:  { title: "新着のプロジェクト",
                                  projects: @new_project,
                                  max_display_projects: 1,
                                  is_dummy: false }

          -# 注目のプロジェクト
          %section.Grid.amount
            = render partial: 'toppage/partial/PcTopProjectList',
                     locals:  { title: "注目のプロジェクト",
                                link_path: '#',
                                projects: @projects }

          -# あとひと押し
          %section.Grid.amount
            = render partial: 'toppage/partial/PcTopProjectList',
                     locals: { title: "あとひと押し",
                               link_path: '#',
                               projects: @projects }

          -# 支援総額が多いプロジェクト
          %section.Grid.amount
            = render partial: 'toppage/partial/PcTopProjectList',
                     locals: { title: "支援総額が多いプロジェクト",
                               link_path: '#',
                               projects: @projects_large_amount }

          -# 現在募集中のプロジェクト
          .Grid.public
            = render partial: 'toppage/partial/PcTopProjectList',
                     locals: { title: "支援総額が多いプロジェクト",
                               link_path: '#',
                               projects: @projects }

    / バナーエリア
    .PcTopContainer__bottom-banners__2hh5U
      = link_to('https://www.facebook.com/readyfor/') do
        = image_tag('https://readyfor.jp/s3/readyfor-img/banner_images/59/normal_2x/df8d55732554d652df1d13e4c9bd8a85f728fc3a.JPG?1499930529',
                    style: "width: 310px; height: 60px")
      = link_to('https://readyfor.jp/proposals/intro/lp_business#utm_source=banner&utm_campaign=lp_business&utm_medium=bottom') do
        = image_tag('https://readyfor.jp/s3/readyfor-img/banner_images/1/normal_2x/fb6d67b8b478ae8bc61ec361f01f165c28383499.png?1498039688',
                    style: "width: 310px; height: 60px")
      = link_to('https://www.wantedly.com/companies/readyfor2') do
        = image_tag('https://readyfor.jp/s3/readyfor-img/banner_images/23/normal_2x/57edbb941e405d090877414b17488fcaecdf0441.jpg?1498039691',
                    style: "width: 310px; height: 60px")

    / お知らせ
    .PcTopContainer__information__3pGwU
      .PcTopContainer__wrap__234Wu
        = render "#{ partial_root }/TopInformationList"
      .PcTopContainer__wrap__234Wu
        = render "#{ partial_root }/TopInformationList"

    / 掲載ニュース
    .PcTopContainer__public__1nhMO
      = render "#{ partial_root }/PcPublicNews"

    / 成功者インタビュー
    .Container.Grid.u-mb_30
      .Header
        .Heading.Heading__txt
          %h2 成功者インタビュー
      %div
        - 5.times do
          = render "layouts/Entry-type4"

    .Container.Grid.description
      日本初・実績No.1のクラウドファンディングサイト「Readyfor」では、アイデア相談から実現まで
      1対1の担当者制であなたのクラウドファンディング挑戦を徹底的にサポート！まずは無料相談から。
