.PcTopCategoryNavBar__nav__OC0Kd
  = link_to('トップ',
            root_path,
            class: "PcTopCategoryNavBar__is-active__1HV9W PcTopCategoryNavBar__all__3LY8E")
  = link_to('社会にいいこと',
             toppage_socialgood_path,
             class: "PcTopCategoryNavBar__socialgood__FE1rj",
             remote: true)
  = link_to('地域',
            toppage_local_path,
            class: "PcTopCategoryNavBar__local__2dl2t",
            remote: true)
  = link_to('ものづくり',
            toppage_product_path,
            class: "PcTopCategoryNavBar__product__2pzr9",
            remote: true)
  = link_to('アート',
            toppage_art_path,
            class: "PcTopCategoryNavBar__art__3mG7y",
            remote: true)
  = link_to('チャレンジ',
            toppage_challenge_path,
            class: "PcTopCategoryNavBar__challenge__35Wip",
            remote: true)
