.PcTopCategoryNavBar__nav__OC0Kd
  = link_to('トップ', "#", class: "PcTopCategoryNavBar__is-active__1HV9W PcTopCategoryNavBar__all__3LY8E")
  = link_to('社会にいいこと', "#")
  = link_to('地域', "#")
  = link_to('ものづくり', "#")
  = link_to('アート', "#")
  = link_to('チャレンジ', "#")
