.Top-Entry__container
  .Grid

    -# 最近見たプロジェクト
    %section.Grid__col3.notable
      = render_header("最近見たプロジェクト", "Entry-type2")
      = render(partial: "layouts/Entry-type2")

    -# あとひと押し
    %section.Grid__col3.almost
      = render_header("あとひと押し", "Entry-type2")
      = render(partial: "layouts/Entry-type2")

    -# 新着のプロジェクト
    %section.Grid__col3.new_arrival
      = render_header("新着のプロジェクト", "Entry-type2")
      = render(partial: "layouts/Entry-type2")

  -# 注目のプロジェクト
  %section.Grid.amount
    = render partial: 'toppage/partial/PcTopProjectList',
             locals: { title: "注目のプロジェクト",
                       max_display_projects: 4 }

  -# あとひと押し
  %section.Grid.amount
    = render partial: 'toppage/partial/PcTopProjectList',
             locals: { title: "あとひと押し",
                       max_display_projects: 4 }

  -# 支援総額が多いプロジェクト
  %section.Grid.amount
    = render partial: 'toppage/partial/PcTopProjectList',
             locals: { title: "支援総額が多いプロジェクト",
                       max_display_projects: 4 }

  -# 現在募集中のプロジェクト
  .Grid.public
    = render partial: 'toppage/partial/PcTopProjectList',
             locals: { title: "支援総額が多いプロジェクト",
                       max_display_projects: 12 }
