.Top-Entry__container
  .Grid
    %section{ class: "Grid__col3 notable"}
      %header{ class: 'Header' }
        .Heading.is-s
          %h2 最近見たプロジェクト
        = link_to('もっと見る', "#", { class: "u-fl_r Header-more" })
      = render partial: "layouts/Entry-type2"

    %section{ class: "Grid__col3 almost"}
      %header{ class: 'Header' }
        .Heading.is-s
          %h2 あとひと押し
        = link_to('もっと見る', "#", { class: "u-fl_r Header-more" })
      = render partial: "layouts/Entry-type2"

    %section{ class: "Grid__col3 new_arrival"}
      %header{ class: 'Header' }
        .Heading.is-s
          %h2 新着のプロジェクト
        = link_to('もっと見る', "#", { class: "u-fl_r Header-more" })
      = render partial: "layouts/Entry-type2"

  %section{ class: "Grid amount u-mt_40"}
    %header{ class: "Header u-mt_30" }
      .Heading
        %h2 注目のプロジェクト
      = link_to('もっと見る', "#", { class: "u-fl_r Header-more" })
    - 4.times do
      = render partial: "layouts/Entry-type1"

  %section{ class: "Grid amount u-mt_40"}
    %header{ class: "Header u-mt_30" }
      .Heading
        %h2 あとひと押し
      = link_to('もっと見る', "#", { class: "u-fl_r Header-more" })
    - 4.times do
      = render partial: "layouts/Entry-type1"

  %section{ class: "Grid amount u-mt_40"}
    %header{ class: "Header u-mt_30" }
      .Heading
        %h2 支援総額が多いプロジェクト
      = link_to('もっと見る', "#", { class: "u-fl_r Header-more" })
    - 4.times do
      = render partial: "layouts/Entry-type1"

  .Grid.public
    %header{ class: "Header u-mt_30 space-top-48 space-bottom-48" }
      .Heading
        %h2.u-d_ib 支援総額が多いプロジェクト
      = link_to('もっと見る', "#", { class: "u-fl_r Header-more" })
    - 12.times do
      = render partial: "layouts/Entry-type1"
