.search-project-body
  .container
    .sidebar
      = render 'projects/sidebar'
    .page-main
      .page-pankuzu
        = link_to root_path do
          %small クラウドファンディングトップ
        %span
          %small >
        %span
          %small
            = @tag.name
      %section.Grid.amount
        = render partial: 'toppage/partial/PcTopProjectList',
                  locals: { title: "「#{ @tag.name }」に関するプロジェクト",
                             projects: @projects}
      .page-main__footer
        = paginate(@projects)
