= form_tag(payment_path(params[:project_id],
'payment/information/confirmation', params[:id], ''),
 method: :post, id: 'card-input') do
  .purchase-progress-content
    = image_tag "flow02.png", id: "progress-image"

  .returns-content
    .credit-card-content
      %h1 カード情報をご入力ください！

      .credit-card-available
        %span
          ご利用可能なクレジットカード :
          = image_tag creditcard_img_url()
      .credit-card-input
        %table
          %tr
            %th カード番号
            %td
              = number_field_tag :card, nil, maxlength: 16,
               id: 'card-input-form'
          %tr
            %th CVC番号
            %td
              = number_field_tag :cvc, nil, maxlength: 3,
               id: 'cvc-input-form'
          %tr
            %th カード有効期限
            %td
              = select_tag :month, options_for_select(return_month_options())
              %span /
              = select_tag :year, options_for_select(return_year_options())

      .about-settlement-system
        %h2 決済システムについて
        %p
          GMOペイメントゲートウェイ株式会社を利用しています。
          サイトはSSL暗号化通信に対処しておりますので、入力した情報は安全に送信されます。
          クレジットカード情報が、プロジェクト実行者に開示されることは一切ありません。

  - params[:number].each do |key, value|
    = hidden_field_tag "number[#{key}]", "#{value}"

  .progress-button-content
    %h1
      %i.fa.fa-question-circle.fa-lg.faq-link
      支援についてわからないことがある場合、
      = link_to "こちら", root_path
      をご覧ください。
    .progress-button
      = link_to project_path(params[:project_id]) do
        .progress-button__return
          = image_tag 'left_arrow.png'
          %p プロジェクトページに戻る
      .progress-button__next
        = button_tag type: 'submit' do
          %p 次に進む
          = image_tag 'right_arrow.png'
