.purchase-progress-content
  = image_tag "https://readyfor.jp/assets/charity/flow02_charity-59047cd60757e36cdeb2d7522af3af2a6d5fae351cc7eccf3e69f7eae0e6736a.png", id: "progress-image"
.returns-content

.progress-button-content
  %h1
    %i.fa.fa-question-circle.fa-lg.faq-link
    支援についてわからないことがある場合、
    = link_to "こちら", root_path
    をご覧ください。
  .progress-button
    = link_to root_path do
      .progress-button__return
        = image_tag '/assets/left_arrow.png'
        %p プロジェクトページに戻る
    = link_to root_path do
      .progress-button__next
        %p 次に進む
        = image_tag '/assets/right_arrow.png'
