.return-list-content
  .return-list-content-title
    %h1
      #{ title }
    = image_tag "down_arrow.png", id: "selected-btn"
  - returns.each do |item|
    .return-items.row
      .return-item-left.col-sm-4

        .return-price.col
          = image_tag "check.png", id: "return-check-image#{ item.id }"
          %span{ id: "return-price-text#{ item.id }" }= "#{ item.price }円"

        - if returns.count == 1
          .return-numbar.col
            = select_tag "number[#{ item.id }]",
            options_for_select(return_count_options(), selected: 1),
             class: 'number-select'
            %span 個
        - else
          .return-numbar.col
            = select_tag "number[#{ item.id }]",
            options_for_select(return_count_options()), class: 'number-select'
            %span 個

      .return-item-right.col-sm-8
        .return-item-right__text.col
          %h2= item.title
          %p= item.content
          %span 発送は
          %span= item.arrival_date.to_s(:year_month_jp)
          %span を予定
