.purchase-contents
  .top-content
    .purchase-progress-content
      = image_tag "https://readyfor.jp/assets/contribution/flow01-734e16c18ee254970262a0bdb266999b639a20a249dd3e1d5ad4ab857d93fbec.png", id: "progress-image"
    .returns-content
      .return-lists
        .return-list
      .ticket-selected
        %h1 その他リターン
        = image_tag "/assets/down_arrow.png", id: "selected-btn"
      .return-total
        %p
          追加するリターン :
          %span 1,000円
          × 1個
        %hr
        .return-total__table
          %table
            %tr
              %th 合計金額
              %td 1,000円
        .return-total__right-text
          %span を
        .clear
        .return-total__text
          %p プロジェクト「開始3ヶ月、豪雨災害で水没した子どもの学び場「ホハル」再建へ」に支援します
    .payment-content
      %h1 支払い方法を選択してください
      %h2 新規のカードを登録する
      .credit-card
        .credit-card__left
          %label
            = radio_button :payment_type, '支払い方法', {}
        .credit-card__right
          %p 下記のクレジットカードが利用できます
          = image_tag "https://readyfor.jp/assets/contribution/caed5-bd4673425aa4e9850a622c63dc220988f7e2e09ae4f84357b924f6040f483e4d.png"
      %h2 銀行振込で支援する
      .bank-transfer
        .bank-transfer__left
          %label
            = radio_button :payment_type, '支払い方法', {}
        .bank-transfer__right
          %p 銀行振込で支援する
    .progress-button-content
  .bottom-content
