%article.Entry.is-type2
  .Entry__img
    .Entry__img-mask
      = link_to( project_path(project) ) do
        = image_tag( project.projectimage.url, alt: project.title)
        %p project.content

  .Entry__body
    .Entry__body-mask
      = link_to( project_path(project) ) do
        %h3.Entry__h.is-hide-line2.u-mb_3
          = project.title
        .Entry__condition-group
          .Entry__numerical-info
            %dl.Entry__condition-amount
              %dt 支援総額
              %dd #{ project.total_support} 円
            %dl
              %dt 残り
              %dd
                - if project.remaining_time[:day] != 0
                  #{ project.remaining_time[:day] } 日
                - else
                  #{ project.remaining_time[:hour] } 時間
          .project-type-badge.normal
            = project.project_type_i18n
