%article.Entry.is-type1.Grid__col4.u-mb_40.null
  = link_to(project_path(project)) do
    .Entry__img
      .Entry__img-mask
        %figure
          = image_tag(project.projectimage.url, alt:   project.title,
                                                class: "lazyloaded")

    .Entry__body
      %h4.Entry__h.is-hide-line3
        = project.title
      .Entry__project-type-badge
        .project-type-badge.normal
          = project.project_type_i18n
      .Entry__info-founder.hidden-while-processing
        %span.Entry__info-founder-icon
          = image_tag(project.user.avatar.url, class:  'Entry__icon-img',
                                               alt:    project.user.nickname,
                                               width:  '24px',
                                               height: '24px')
        %span.Entry__info-founder-name.should-be-abbriviate
          = project.user.nickname

      .Entry__condition
        %dl.Entry__condition-sum
          %dt.Entry__condition-sum-dt
            支援総額
          %dd.Entry__condition-sum-dd
            #{ project.total_support } 円
        %dl.Entry__condition-remain
          %dt.Entry__condition-remain-dt
            残り
          %dd.Entry__condition-remain-dd
            - if project.remaining_time[:day] != 0
              #{ project.remaining_time[:day] } 日
            - else
              #{ project.remaining_time[:hour] } 時間

      .Entry__gauge.Gauge.is-top
        .Gauge__obj.is-1{ style: "width: #{ project.achievement_rate }%;" }
        .Gauge__txt
          #{ project.achievement_rate } %
