.footer__top

  .footer__content
    .footer__content-header 運営情報
    = link_to '運営会社', '#'
    = link_to '採用情報', '#'
    = link_to 'メディア掲載一覧', '#'
    = link_to '7th Anniversary', '#'
    = link_to 'READYFOR OF THE YEAR', '#'
    = link_to 'ヘルプ・お問い合わせ', '#'
    = link_to 'マニュアル', '#'

  .footer__content
    .footer__content-header はじめる
    = link_to 'クラウドファンディングとは', '#'
    = link_to 'プロジェクトをはじめる', '#'
    = link_to '創業をお考えの方へ', '#'
    = link_to 'マッチングギフト', '#'
    = link_to 'お知らせ', '#'

  .footer__content
    .footer__content-header さがす
    = link_to '募集中のプロジェクト', '#'
    = link_to '成功したプロジェクト', '#'
    = link_to 'Readyfor VOYAGE', '#'
    = link_to '緊急災害支援プログラム', '#'
    = link_to '大学向けクラウドファンディング', '#'
    = link_to 'Readyforふるさと納税', '#'

  .footer__content-img
    .footer__content-link
      = link_to( "http://service-award.jp/index.html" ) do
        = image_tag( "https://readyfor.jp/assets/corporate/japan_service_award_03-0bdf04e1391453dfa9a69e5917688d911a56a6f114ec539fa1aa7ae666e98e2d.png" )

.footer__bottom
  .footer__bottom-left Copyright 2011 READYFOR, Inc. All rights reserved.
  .footer__bottom-right
    = link_to 'プライバシーポリシー', '#'
    = link_to '利用規約', '#'
    = link_to 'ガイドライン', '#'
    = link_to '特定商取引法に基づく表記', '#'

  .footer__bottom-social
    = link_to "https://twitter.com/ready_for/" do
      %i.fa.fa-twitter
    = link_to "https://www.facebook.com/readyfor/" do
      %i.fa.fa-facebook
    = link_to "https://line.me/R/ti/p/%40lbw2411m/" do
      %i.fa.fa-comment
