.header__left
  .header__left-logo
    = link_to root_path  do
      = image_tag( "https://files.value-press.com/czMjYXJ0aWNsZSMxOTE1NCMxODQ2MzUjMTkxNTRfdExTenJSR29iVi5qcGc.jpg")

  = form_tag projects_path, method: :get, class: 'header__left-searchText' do
    .header__left-searchIcon
      %i.fa.fa-search
    = text_field :search, :keyword, size:        '25',
                                    type:        'text',
                                    placeholder: 'プロジェクトを探す'

.header__right
  .header__right-item
    = link_to 'クラウドファンディングとは'
    = link_to 'はじめる', new_project_path
    = link_to 'さがす', projects_path
    - if user_signed_in?
      #panel
        = image_tag "#{current_user.avatar}"
    - else
      = link_to 'ログイン・登録', new_user_session_path, class: :'login-button'
  - if user_signed_in?
    .header__right-panelNone
      .header__right-panel
        = link_to 'メッセージ', user_messages_path(current_user.id)
        = link_to '購入履歴', user_path(id: current_user.id)
        = link_to 'プロフィール編集', edit_user_path(current_user.id)
        = link_to 'お気に入りリスト', '#'
        = link_to 'ログアウト', destroy_user_session_path ,method: :delete
