!!!
%html
  %head
    %meta{ content:    "text/html",
           charset:    "UTF-8",
           http_equiv: "Content-Type" }/
    %meta{ name: "turbolinks-cache-control", content: "no-cache" }
    %title Readyfor29
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application',
                             'data-turbolinks-track': 'reload'

  = render 'layouts/flash'
  .main__header
    = render 'layouts/header'

  %body
    = yield

  .main__footer
    = render 'layouts/footer'
